@keyframes fadeInUp {
    from {
        transform: translate3d(0,240px,0)
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,240px,0)
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

body {
    margin: 0px 0px 0px 0px !important;
    background-color: #202020;
}

.animated {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.hero-image {
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    object-fit: cover;
}

.intro-block {
    position: relative;
    z-index: 250;
}

.heading {
    color: black;
    font-family: Helvetica, Sans-serif;
    padding-top: 150px;
    padding-left: 80px;
}

.eyebrow {
    font-size: 52.5px;
    font-style: italic;
}

.title {
    font-size: 118.75px;
    font-style: normal;
}

.scroll-down-container {
    color: #E8E8E8;
    font-family: Helvetica, Sans-serif;
    font-size: 16px;
    position:fixed;
    bottom:20px;
    width: 100%;
    text-align: center;
}

.scroll-down-content {
    margin-left: auto;
    margin-right: auto;
}

.scroll-down-icon {
    margin-top: -5px;
    width: 25px;
    filter: invert(87%) sepia(0%) saturate(0%) hue-rotate(208deg) brightness(96%) contrast(100%);
}

@media (max-width: 1250px) {
    .heading {
        padding-top: 125px;
        padding-left: 80px;
    }

    .eyebrow {
        font-size: 42px;
    }

    .title {
        font-size: 95px;
    }
}

@media (max-width: 768px) {
    .eyebrow {
        font-size: 37.5px;
    }

    .title {
        font-size: 72.125px;
    }
}

@media (min-width: 481px) {
    .hero-image {
        height: 1000px;
    }
    .block-height {
        height: 1000px;
    }
    
    .profile-pic-image {
        height: 800px;
        float: left;
        padding: 100px 100px 100px 100px;
        border-radius: 25px;
    }
}

@media (max-width: 480px) {
    @keyframes fadeInUp {
        from {
            transform: translate3d(0,720px,0)
        }
        to {
            transform: translate3d(0,0,0);
            opacity: 1
        }
    }

    @-webkit-keyframes fadeInUp {
        from {
            transform: translate3d(0,720px,0)
        }
        to {
            transform: translate3d(0,0,0);
            opacity: 1
        }
    }
    
    .block-height {
        height: 720px;
    }
    
    .hero-image {
        height: 720px;
    }
    
    .heading {
        padding-top: 35px;
        padding-left: 35px;
    }
    
    .eyebrow {
        font-size: 28px;
    }

    .title {
        font-size: 72px;
    }
    
    .scroll-down-container {
        bottom:10px;
    }

    .scroll-down-icon {
        margin-top: -5px;
        width: 30px;
    }
    
    .profile-pic-image {
        width: 100%;
        top: 50%;
    }
}
