@keyframes fadeInUp {
    from {
        transform: translate3d(0,240px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,240px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@keyframes fadeInUp-mobile {
    from {
        transform: translate3d(0,720px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp-mobile {
    from {
        transform: translate3d(0,720px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

body {
    margin-top: 0px !important;
}

.animated {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.fadeInUp-mobile {
    opacity: 0;
    animation-name: fadeInUp-mobile;
    -webkit-animation-name: fadeInUp-mobile;
}

.hero-image {
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    object-fit: cover;
    height: 650px;
}

.hero-image-mobile {
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    object-fit: cover;
}

.intro-block {
    position: relative;
    z-index: 250;
}

.heading {
    color: black;
    font-family: Helvetica, Sans-serif;
    padding-top: 150px;
    padding-left: 80px;
}

.eyebrow {
    font-size: 52.5px;
    font-style: italic;
}

.title {
    font-size: 118.75px;
    font-style: normal;
}

@media (max-width: 1250px) {
    .heading {
        padding-top: 125px;
        padding-left: 80px;
    }

    .eyebrow {
        font-size: 42px;
    }

    .title {
        font-size: 95px;
    }
}

@media (max-width: 768px) {
    .eyebrow {
        font-size: 37.5px;
    }

    .title {
        font-size: 72.125px;
    }
}

@media (max-width: 480px) {
    .heading {
        padding-top: 60px;
        padding-left: 60px;
    }
    
    .eyebrow {
        font-size: 73.125px;
    }

    .title {
        font-size: 175.5px;
    }  
}

.heading-mobile {
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
}

.eyebrow-mobile {
    font-size: 73.125px;  
}

.title-mobile {
    font-size: 175.5px;
}
