/* css file */

#frontpage {
        text-align: center;
        /* background-image: url("background.jpg"); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
}

#name {
        text-align: left;
        font-size: 40px;
        padding-left: 10px;
        font-family: "Tahoma";
}

#bio {
        text-align: left;
        font-size: 40px;
        padding-left: 10px;
        font-family: "Tahoma";        
}

.link {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 22px;
        margin-left: 41%;
        margin-right: 41%;
        background-color: lightgray;
        border-color: black;
        border-style: solid;
        border-width: 1px;   
        color: black;      
}

div {
        padding-left: 10px; 
        font-family: "Geneva";       
}

body {
        background-color: whitesmoke;
}

h1 {
        font-size: 120px;
        color: black;
        text-align: center; 
        padding-bottom: 10px; 
        margin: 2px; 
}

img {
        border-color: black;
        border-style: solid;
        border-width: 2px;        
}

li {
        font-size: 18px;
        padding-left: 2%;
        font-family: "Tahoma";
        padding: 0;
}

h2 {
        color: black;
        font-weight: bold;
        font-family: "Geneva";
        font-size: 27px;
        padding-top: 2px;
        padding-left: 20px;  
        margin: 0;  
        margin-bottom: 10px;
        border-bottom-color: darkgray;
        border-bottom-style: solid;
        border-bottom-width: 3px;

}

p {
        padding-left: 10px;
        font-family: "Tahoma";
        font-size: 18px;
}

.biopara {
        text-indent: 50px;
        display: block; 
        padding-top: 5px;
        padding-left: 5%;
        padding-right: 5%;
            
}

.school {
        font-size: 22px;
        padding-left: 20px;
        font-family: "Times New Roman";
        font-weight: bold;
}

.degree {
        padding-left: 28px;
        font-size: 17px;
        font-family: "Arial";
}

.work {
        font-size: 22px;
        padding-left: 20px;
        font-family: "Times New Roman";
        font-weight: bold;
}

.dates {
        padding-left: 28px;
        font-size: 17px;
        font-family: "Arial";
}

.other {
        padding-left: 20px;
}

