

#frontpage {
    /* background-image: url("background.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#heading {
    text-align: center;
    font-size: 60px;
    padding-left: 10px;
    font-family: "Lucida Sans Unicode";
    padding-top: 5%;
    padding-bottom: 5%;
}

#menu {
    width: 100%;
    font-family: "Verdana";
}

#links {
    text-transform: uppercase;
    display: inline-block;
    float: left;
    width: 60%;
    padding-left: 2%;
}

.link {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

.link:hover {
    background-color: red;
    text-decoration-color: white;
}

#social_media {
    display: inline-block;
    float: right;
}

.button {
    display: inline-block;
}

.button:hover {
    background-color: steelblue;
    color: white;
}

a:hover {
    color: white;
}

#message {
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
}

hr {
    margin-top: 2%;
}